In [1]:
import numpy as np 
import pandas as pd

In [2]:
data_dir = "data/"
df_hpi = pd.read_csv(data_dir + "home_price_index.csv")
df_construction_pi = pd.read_csv(data_dir + "construction_price_index.csv")
df_consumer_pi = pd.read_csv(data_dir + "consumer_price_index.csv")
df_er = pd.read_csv(data_dir + "employement_rate.csv")
df_ffer = pd.read_csv(data_dir + "fedral_fund_effective_rate.csv")
df_hs = pd.read_csv(data_dir + "housing_subsidies.csv")
df_mhi = pd.read_csv(data_dir + "median_household_income.csv")
df_npu = pd.read_csv(data_dir + "newly_private_units.csv")
df_cgdp = pd.read_csv(data_dir + "per_cap_gdp.csv")
df_th = pd.read_csv(data_dir + "total_household.csv")
df_uer = pd.read_csv(data_dir + "unemp_rate.csv")
df_wap = pd.read_csv(data_dir + "working_age_pop.csv")

In [3]:
# Changing dtype of date column
# CASE-SHILLER Index
df_hpi["observation_date"] = pd.to_datetime(df_hpi["observation_date"])

In [4]:
df_hpi = df_hpi[(df_hpi["observation_date"] >= "2004-01-01") & 
                (df_hpi["observation_date"] <= "2024-12-01")]


df_hpi.reset_index(inplace = True)
df_hpi.drop(columns = ["index"], inplace = True)

In [5]:
# Creating "Year" and "Month" columns
df_hpi["Year"] = pd.DatetimeIndex(df_hpi["observation_date"]).year
df_hpi["Month"] = pd.DatetimeIndex(df_hpi["observation_date"]).month
print("Shape of the CASE-SHILLER Index:- ", df_hpi.shape)
df_hpi.tail()

Shape of the CASE-SHILLER Index:-  (252, 4)

    observation_date  CSUSHPISA  Year  Month
247       2024-08-01    322.299  2024      8
248       2024-09-01    323.311  2024      9
249       2024-10-01    324.491  2024     10
250       2024-11-01    326.013  2024     11
251       2024-12-01    327.582  2024     12

In [6]:
#construction price index
df_construction_pi["observation_date"] = pd.to_datetime(df_construction_pi["observation_date"])
df_construction_pi = df_construction_pi[(df_construction_pi["observation_date"] >= "2004-01-01") & 
                (df_construction_pi["observation_date"] <= "2024-12-01")]
df_construction_pi = df_construction_pi.rename(columns={'WPUSI012011': 'Cons_material_index'})

df_construction_pi.reset_index(inplace = True)
df_construction_pi.drop(columns = ["index"], inplace = True)

df_construction_pi.shape
df_construction_pi.tail()

    observation_date  Cons_material_index
247       2024-08-01              324.650
248       2024-09-01              324.100
249       2024-10-01              325.428
250       2024-11-01              326.759
251       2024-12-01              324.957

In [7]:
#consumer price index 
df_consumer_pi["observation_date"] = pd.to_datetime(df_consumer_pi["observation_date"])
df_consumer_pi = df_consumer_pi[(df_consumer_pi["observation_date"] >= "2004-01-01") & 
                (df_consumer_pi["observation_date"] <= "2024-12-01")]
df_consumer_pi = df_consumer_pi.rename(columns={'CPIAUCSL': 'Consumer_price_index'})

df_consumer_pi.reset_index(inplace = True)
df_consumer_pi.drop(columns = ["index"], inplace = True)

df_consumer_pi.shape
#df_consumer_pi.tail()

(252, 2)

In [8]:
#Employement_rate
df_er["observation_date"] = pd.to_datetime(df_er["observation_date"])
df_er = df_er[(df_er["observation_date"] >= "2004-01-01") & 
                (df_er["observation_date"] <= "2024-12-01")]
df_er = df_er.rename(columns={'LREM64TTUSM156S': 'emp_rate'})

df_er.reset_index(inplace = True)
df_er.drop(columns = ["index"], inplace = True)

df_er.shape
df_er.tail()

    observation_date  emp_rate
247       2024-08-01  71.73054
248       2024-09-01  71.87183
249       2024-10-01  71.70908
250       2024-11-01  71.64780
251       2024-12-01  71.88726

In [9]:
#Federal Funds Effective Rate
df_ffer["observation_date"] = pd.to_datetime(df_ffer["observation_date"])
df_ffer = df_ffer[(df_ffer["observation_date"] >= "2004-01-01") & 
                (df_ffer["observation_date"] <= "2024-12-01")]
df_ffer = df_ffer.rename(columns={'FEDFUNDS': 'fed_eff_r'})

df_ffer.reset_index(inplace = True)
df_ffer.drop(columns = ["index"], inplace = True)

df_ffer.shape
df_ffer.tail()

    observation_date  fed_eff_r
247       2024-08-01       5.33
248       2024-09-01       5.13
249       2024-10-01       4.83
250       2024-11-01       4.64
251       2024-12-01       4.48

In [10]:
#Housing Subsidies
df_hs["observation_date"] = pd.to_datetime(df_hs["observation_date"])
df_hs = df_hs[(df_hs["observation_date"] >= "2004-01-01") & 
                (df_hs["observation_date"] <= "2024-12-01")]
df_hs = df_hs.rename(columns={'L312051A027NBEA': 'housing_subs'})

df_hs.reset_index(inplace = True)
df_hs.drop(columns = ["index"], inplace = True)

df_hs.shape
df_hs.tail()

   observation_date  housing_subs
15       2019-01-01        40.185
16       2020-01-01        44.147
17       2021-01-01        45.299
18       2022-01-01        48.021
19       2023-01-01        53.573

In [11]:
#Real Median Household Income in the United States
df_mhi["observation_date"] = pd.to_datetime(df_mhi["observation_date"])
df_mhi = df_mhi[(df_mhi["observation_date"] >= "2004-01-01") & 
                (df_mhi["observation_date"] <= "2024-12-01")]
df_mhi = df_mhi.rename(columns={'MEHOINUSA672N': 'med_house_inocome'})

df_mhi.reset_index(inplace = True)
df_mhi.drop(columns = ["index"], inplace = True)

df_mhi.shape
#df_mhi.tail()

(20, 2)

In [12]:
#Newly private Units
df_npu["observation_date"] = pd.to_datetime(df_npu["observation_date"])
df_npu = df_npu[(df_npu["observation_date"] >= "2004-01-01") & 
                (df_npu["observation_date"] <= "2024-12-01")]
df_npu = df_npu.rename(columns={'HOUST': 'new_pvt_units'})

df_npu.reset_index(inplace = True)
df_npu.drop(columns = ["index"], inplace = True)

df_npu.shape
df_npu.tail()

    observation_date  new_pvt_units
247       2024-08-01           1379
248       2024-09-01           1355
249       2024-10-01           1344
250       2024-11-01           1305
251       2024-12-01           1526

In [13]:
#Per capita GDP
df_cgdp["observation_date"] = pd.to_datetime(df_cgdp["observation_date"])
df_cgdp = df_cgdp[(df_cgdp["observation_date"] >= "2004-01-01") & 
                (df_cgdp["observation_date"] <= "2024-12-01")]
df_cgdp = df_cgdp.rename(columns={'A939RX0Q048SBEA': 'per_cap_gpd'})

df_cgdp.reset_index(inplace = True)
df_cgdp.drop(columns = ["index"], inplace = True)

df_cgdp.shape
#df_cgdp.tail()

(84, 2)

In [14]:
#total Households
df_th["observation_date"] = pd.to_datetime(df_th["observation_date"])
df_th = df_th[(df_th["observation_date"] >= "2004-01-01") & 
                (df_th["observation_date"] <= "2024-12-01")]
df_th = df_th.rename(columns={'TTLHH': 'total_housholds'})

df_th.reset_index(inplace = True)
df_th.drop(columns = ["index"], inplace = True)

df_th.shape
#df_th.tail()

(21, 2)

In [15]:
#Unemployement Rate
df_uer["observation_date"] = pd.to_datetime(df_uer["observation_date"])
df_uer = df_uer[(df_uer["observation_date"] >= "2004-01-01") & 
                (df_uer["observation_date"] <= "2024-12-01")]
df_uer = df_uer.rename(columns={'UNRATE': 'unemp_rate'})

df_uer.reset_index(inplace = True)
df_uer.drop(columns = ["index"], inplace = True)

df_uer.shape
df_uer.tail()

    observation_date  unemp_rate
247       2024-08-01         4.2
248       2024-09-01         4.1
249       2024-10-01         4.1
250       2024-11-01         4.2
251       2024-12-01         4.1

In [16]:
#Working age population
df_wap["observation_date"] = pd.to_datetime(df_wap["observation_date"])
df_wap = df_wap[(df_wap["observation_date"] >= "2004-01-01") & 
                (df_wap["observation_date"] <= "2024-12-01")]
df_wap = df_wap.rename(columns={'LFWA64TTUSM647S': 'workin_pop'})

df_wap.reset_index(inplace = True)
df_wap.drop(columns = ["index"], inplace = True)

df_wap.shape
#df_wap.tail()

(252, 2)

In [17]:
#per capita gdp quarterly available merging it with CASE-SHILLER Index
df_hpi = pd.merge(df_hpi,df_cgdp, how = "left")
df_hpi.head()

  observation_date  CSUSHPISA  Year  Month  per_cap_gpd
0       2004-01-01    141.646  2004      1      52179.0
1       2004-02-01    143.191  2004      2          NaN
2       2004-03-01    145.058  2004      3          NaN
3       2004-04-01    146.593  2004      4      52469.0
4       2004-05-01    148.186  2004      5          NaN

In [18]:
#merging dataframe having monthly data
df = pd.DataFrame()
df_mon = [df_hpi, df_construction_pi, df_consumer_pi, df_er, df_uer, df_ffer, df_npu, df_wap]
for df1 in df_mon:
    df1 = df1.set_index("observation_date")
    df = pd.concat([df,df1], axis = 1)
print(df.shape)
df.head()

(252, 11)

,CSUSHPISA,Year,Month,per_cap_gpd,Cons_material_index,Consumer_price_index,emp_rate,unemp_rate,fed_eff_r,new_pvt_units,workin_pop
observation_date,,,,,,,,,,,
2004-01-01,141.646,2004,1,52179.0,150.0,186.3,71.26087,5.7,1.00,1911,187566400
2004-02-01,143.191,2004,2,NaN,153.4,186.7,71.20327,5.6,1.01,1846,187831900
2004-03-01,145.058,2004,3,NaN,156.5,187.1,71.04633,5.8,1.00,1998,188107500
2004-04-01,146.593,2004,4,52469.0,160.1,187.4,71.19505,5.6,1.00,2003,188338100
2004-05-01,148.186,2004,5,NaN,162.7,188.2,71.14198,5.6,1.00,1981,188541300

In [19]:
# Merging other dataframes 
yearly_df = [df_hs, df_th, df_mhi]
for df1 in yearly_df:
    if "Year" not in df1.columns:
        df1["Year"] = pd.DatetimeIndex(df1["observation_date"]).year
        df1.set_index("observation_date", inplace = True)
        df = pd.merge(df, df1, how = "left", on = "Year")
    else:
        df1.set_index("observation_date", inplace = True)
        df = pd.merge(df, df1, how = "left", on = "Year")
df["observation_date"] = df_hpi["observation_date"]
df.set_index("observation_date", inplace = True)
df.head()

,CSUSHPISA,Year,Month,per_cap_gpd,Cons_material_index,Consumer_price_index,emp_rate,unemp_rate,fed_eff_r,new_pvt_units,workin_pop,housing_subs,total_housholds,med_house_inocome
observation_date,,,,,,,,,,,,,,
2004-01-01,141.646,2004,1,52179.0,150.0,186.3,71.26087,5.7,1.00,1911,187566400,27.201,112000.0,68250.0
2004-02-01,143.191,2004,2,NaN,153.4,186.7,71.20327,5.6,1.01,1846,187831900,27.201,112000.0,68250.0
2004-03-01,145.058,2004,3,NaN,156.5,187.1,71.04633,5.8,1.00,1998,188107500,27.201,112000.0,68250.0
2004-04-01,146.593,2004,4,52469.0,160.1,187.4,71.19505,5.6,1.00,2003,188338100,27.201,112000.0,68250.0
2004-05-01,148.186,2004,5,NaN,162.7,188.2,71.14198,5.6,1.00,1981,188541300,27.201,112000.0,68250.0

In [20]:
df.shape

(252, 14)

In [21]:
df.isna().sum()

CSUSHPISA                 0
Year                      0
Month                     0
per_cap_gpd             168
Cons_material_index       0
Consumer_price_index      0
emp_rate                  0
unemp_rate                0
fed_eff_r                 0
new_pvt_units             0
workin_pop                0
housing_subs             12
total_housholds           0
med_house_inocome        12
dtype: int64

The "Per Capita GDP" column has missing values because the data was quarterly. The missing values in the other columns are due to the unavailability of fresh data. We will first fill in the missing values in the "Per Capita GDP" column using linear interpolation. We will drop the rows with missing values in the other columns. This means that we will use data from 2004 to 2023

In [141]:
# Filling missing values in the per_cap_gpd column using linear interpolation
df["per_cap_gpd"] = df["per_cap_gpd"].interpolate()

In [142]:
df.isna().sum()

CSUSHPISA                0
Year                     0
Month                    0
per_cap_gpd              0
Cons_material_index      0
Consumer_price_index     0
emp_rate                 0
unemp_rate               0
fed_eff_r                0
new_pvt_units            0
workin_pop               0
housing_subs            12
total_housholds          0
med_house_inocome       12
dtype: int64

In [143]:
df.dropna(inplace = True)

In [144]:
df.shape

(240, 14)

In [145]:
df.isna().sum()

CSUSHPISA               0
Year                    0
Month                   0
per_cap_gpd             0
Cons_material_index     0
Consumer_price_index    0
emp_rate                0
unemp_rate              0
fed_eff_r               0
new_pvt_units           0
workin_pop              0
housing_subs            0
total_housholds         0
med_house_inocome       0
dtype: int64

In [146]:
df.shape

(240, 14)

In [ ]:
#df.to_csv("final_home_price_data.csv")